<h1>New game</h1>

<% @letters.each do |letter| %>
<p class="letter"><%= letter %></p>
<% end %>

<form action="/score" method="post">
  <label for="answer">What is the longest word you can find?</label>
  <input type="text" name="answer" id="answer">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
